---
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Body from "../../components/Body.astro";
import Main from "../../components/Main.astro";
import Footer from "../../components/Footer.astro";
import ru from "../../i18n/ru";

const t = ru;
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<Header t={t} />
		<Main>
			<h1>Картиночки</h1>
		</Main>
		<Footer />
	</Body>
</html>
