---
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Body from "../../components/Body.astro";
import Main from "../../components/Main.astro";
import Footer from "../../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<Header />
		<Main>
			<div class="logo h-80"></div>
			<div
				class="transition-colors duration-500 font-mplus text-lg px-6 py-3 backdrop-blur-3xl
				bg-white/75 dark:bg-zinc-700/50 rounded-lg w-full"
			>
				<pre
					class="mx-auto w-min">Привет, я <i class="font-[550]">junior backend developer</i> из Беларуси.</pre>
			</div>
			<div class="flex flex-row justify-between gap-4 w-full">
				<div class="flex flex-col items-start gap-6">
					<h1 class="font-bold text-[2.5rem] tracking-wide">Кунцов Святослав</h1>
					<p class="text-xl">Разработчик программного обеспечения</p>
				</div>
				<div
					class="rounded-full min-w-36 min-h-36 bg-red-50 bg-[url(/images/ava2.jpg)] bg-contain bg-center bg-no-repeat
					border-[3px] border-white dark:border-orange-100"
				>
				</div>
			</div>
		</Main>
		<Footer />
	</Body>
</html>
