---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body >
		<Header />
		<Main>
			<h1>Hello, i'm Slava</h1>
		</Main>
		<Footer />
	</Body>
</html>
