---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import en from '@/i18n/en';
import BaseHead from '@/layouts/BaseHead.astro';
import Body from '@/layouts/Body.astro';
import Main from '@/layouts/Main.astro';

const t = en;
---

<!doctype html>
<html lang='en'>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<Header t={t} />
		<Main>
			<h1>Arts</h1>
		</Main>
		<Footer />
	</Body>
</html>
