@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-zinc-850: #1a1a1d;
	--color-orange-75: #fff5e8;
}

body {
	font-family: "Comfortaa", BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-optical-sizing: auto;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-wrap: break-word;
}

.fade-in-btn {
	opacity: 0;
	transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-in-btn--visible {
	opacity: 1;
}